.card {
    position: absolute;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: 1px solid black;
    background-color:whitesmoke;
    width: 200px;
    min-width: 200px;
    max-width: 500px;

    min-height: 100px;
    max-height: 400px;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    resize: both;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.top-bar {
    display: block;
    text-align: right;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 100%;
    background-color: rgb(87, 87, 87);
    cursor: grab;
}

button {
    background-color: transparent;
    color: white;
    margin-right: 10px;
    height: 15px;
    border: 0px solid black;
    margin-top: 7px;
}

.title {
    margin-bottom: 0px;
    margin-top: 0px;
    background-color:whitesmoke;
    width: calc(100% - 20px);
    border-width: 0px;
    border-image-width: 0px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    
    height: fit-content;
    resize: none;
}

.text {
    margin: 0 0 0 0;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    border-width: 0px;
    resize: none;
    font-size: 14px;
    background-color:whitesmoke;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* 
.input-area {
    box-sizing: border-box;
    width: 100%;
    height: calc(100%);
} */

hr {
    width: calc(100% - 20px);
    box-sizing: content-box;
    color: black;
    margin-left: 10;
    margin-bottom: 0;
    margin-top: 0;
}

/* rgb(248, 240, 229) */