html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2017/03/27/16/50/beach-2179624_1280.jpg") center center;
}

p {
    font-family: 'Comic Sans MS';
    font-size: 15vmin;
}

.centeringdiv {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.hello {
    height: 100vh;
    width: 100vw;
    color: black;
    background-color: black;
}