html, body {
    margin: 0;
    height: 100%;
    width: 100%
}

p {
    font-family: 'Comic Sans MS';
    font-size: 15vmin;
}

.centeringdiv {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.hello {
    height: 100vh;
    width: 100vw;
    color: black;
    background-color: black;
}